<ng-container
  *ngIf="isLoggedIn; then loggedIn; else loggedOut">
</ng-container>

<ng-template #loggedIn>

<div class="dropdown">
  <button class="img-btn" type="button" data-bs-toggle="dropdown">
    <img src="assets/images/user_pic.png" class="my-auto"/>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" routerLink="/customer/detail">Settings</a></li>
    <hr>
    <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
  </ul>
</div>

</ng-template>

<ng-template #loggedOut>
    <ul class="navbar-nav d-flex my-auto me-5">
        <li class="nav-item">
          <a class="btn btn-success" routerLink="/login" routerLinkActive="active">Sign in</a>
        </li>
      </ul>
</ng-template>
