<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 text-light custom-bg custom-shadow m-2 me-5">
          <div class="row mt-4 mb-3">
            <div class="col text-light ms-3">
                <img src="assets/images/product.jpg" class="img-fluid my-auto"/>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-bg custom-shadow m-2">
            <div class="text-center">from {{product.owner}}</div>
            <div class="text-center">condition{{product.condition?.name}}</div>
            <div class="text-center">condition{{product.category?.name}}</div>
        </div>
    </div>
</div>

<!-- <div class="col-lg-8 col-md-6 col-sm-12 text-light custom-bg custom-shadow m-2 me-5">

    <div class="row m-5">
      <div class="col-6"> -->
    <!-- <div class="row">
        <div class="col-6 text-center">
            <img src="assets/images/product.jpg" class="img-fluid my-auto"/>
            <p>{{product.price}}&dollar;</p>
        <p>{{product.owner}}</p>
        <p>Condition: {{product.condition?.name | titlecase}}</p>
        </div>
    </div>
</div> -->