<div class="container">

    <div class="row">
      <div class="col">
        <h1 class="display-5 text-center text-light mb-5">Discover new things</h1>
      </div>
        <form>
          <div class="row mx-auto my-5">
            <div class="col-6 mt-2">
              <input type="text" class="form-control form-control-lg bg-dark text-light" placeholder="Search..." name="name" [(ngModel)]="productFilter.name">
            </div>
            <div class="col-3">
              <button class="btn btn-primary btn-lg mt-2" type="submit" (click)="getProducts()">Search</button>
            </div>
          </div>
        </form>
    </div>
    <div class="row my-4"></div>


  <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12 custom-bg custom-shadow me-2 mb-2">
        <div class="row mt-4 mb-3">
          <div class="col text-light ms-3">
            <p class="fs-4">Filtry</p>
          </div>
        </div>

        <form class="mb-5">
          <div class="form-group form-floating mt-3">
            <input type="text" class="form-control custom-bg" id="floatingInputCity" placeholder="City..." name="city" [(ngModel)]="productFilter.city" (ngModelChange)="onInputChange()">
            <label for="floatingInputCity">City...</label>
          </div>
        </form>

        <form>
          <label class="form-label">Price</label>
          <div class="row m-auto mb-5">
            <div class="col-5">
              <div class="form-group form-floating">
                <input type="text" class="form-control custom-bg" id="floatingInputPriceFrom" placeholder="from" name="priceFrom" [(ngModel)]="productFilter.priceFrom" (ngModelChange)="onInputChange()">
                <label for="floatingInputPriceFrom">from</label>
              </div>
            </div>

            <div class="col-1 mt-3">
              -
            </div>

            <div class="col-5">
              <div class="form-group form-floating">
                <input type="text" class="form-control custom-bg" id="floatingInputPriceTo" placeholder="to" name="priceTo" [(ngModel)]="productFilter.priceTo" (ngModelChange)="onInputChange()">
                <label for="floatingInputPriceTo">to</label>
              </div>
            </div>
          </div>
        </form>

        <form>
           <label class="form-label">Condition</label>
           <div *ngFor="let condition of conditions">
            <div class="form-check mb-2 ms-3">
              <input type="checkbox" class="form-check-input checkbox-lg" value="condition.name" (change)="onConditionChange(condition.name)" >
              <label class="form-check-label">{{condition.name | titlecase}}</label>
            </div>
           </div>
        </form>

      </div>


    <div class="col-lg-8 col-md-6 col-sm-12 text-light custom-bg custom-shadow me-5 mb-2">

      <div class="row m-5">
        <div class="col-6">
          <form>
            <label for="productSorting" class="form-label">Sorting:</label>
            <select class="form-select custom-bg" name="sort" id="productSorting" [(ngModel)]="productFilter.sort" (ngModelChange)="onInputChange()">
              <option value="name">name: alphabetically</option>
              <option value="price">price: cheapest</option>
              <option value="createdAt">time: newest products</option>
              <option value="rating">rating: highest rating</option>
            </select>
          </form>
        </div>
        <div class="col"></div>
        <div class="col">
          <form class="mb-5">
            <div class="form-group ">
              <label for="displaySize" class="form-label">Display</label>
              <input type="text" class="form-control custom-bg" placeholder="20" name="size" id="displaySize" [(ngModel)]="productFilter.size" (ngModelChange)="onInputChange()">
            </div>
          </form>
        </div>
      </div>

      <div class="custom-product" *ngFor="let product of products">
        <a class="no-decoration" routerLink="/products/{{product.id}}">
          <div class="row text-light custom-product border-bottom border-secondary" role="button">
            <!-- <a routerLink="/products/{{product.id}}"> -->
              <div class="col-lg-3 col-md-6 col-sm-6">
                <img src="assets/images/product.jpg" class="img-fluid my-3"/>
              </div>
              <div class="col">
                <p class="h6 mt-3">{{product.name}}</p>
                <p class="mt-3 text-white-50"><small>{{product.message}}</small></p>
              </div>
              <div class="col border-start border-secondary my-3">
                <p><small>from</small> {{product.owner}}</p>
                <p class="h4 color-primary">{{product.price}}&dollar;</p>
                <p class="mt-3"><small>condition</small> {{product.condition?.name | titlecase}}</p>
              </div>

          </div>
        </a>
        <!-- <hr class="m-0"> -->
      </div>


      <div class="row my-5">
        <div class="col">
          <button *ngIf="productFilter.page>0" class="text-decoration-none btn btn-link custom-bg" (click)="getPreviousPage()">Previous Page</button>
        </div>
        <div class="col-2 text-center mx-auto">
          <input type="text" class="form-control custom-bg text-center" placeholder="" name="page" [(ngModel)]="productFilter.page" (ngModelChange)="onInputChange()">
        </div>
        <div class="col text-end">
          <button class="text-decoration-none btn btn-link custom-bg" (click)="getNextPage()">Next Page</button>
        </div>
      </div>
    </div>
  </div>
</div>
