.footer-custom-bg{
background: rgb(0,0,13);
background: linear-gradient(0deg, rgba(0,0,13,1) 0%, rgba(0,0,0,1) 0%, rgba(62,25,29,1) 0%, rgba(0,0,0,1) 66%, rgba(107,52,58,1) 100%, rgba(27,12,14,1) 100%);
}
.nav-custom-bg{
    background-color:#13274F;
    color:white;
}
