<div class="d-flex flex-column" style="min-height: 100vh;">

<!-- Navbar -->

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark py-3 shadow-lg" style="background-color: #1B1B1E;">
    <div class="container-fluid">
      <a class="navbar-brand ms-5" routerLink="/home" routerLinkActive="active">E-commerce App</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="box-sizing:border-box">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Newest</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/products?category=cars">Cars</a>
              <a class="dropdown-item" href="/products?category=electronic_devices">Electronic Devices</a>
              <a class="dropdown-item" href="/products?category=diy">DIY</a>
              <a class="dropdown-item" href="/products?category=fashion">Fashion</a>
              <a class="dropdown-item" href="/products?category=garden">Garden</a>
              <a class="dropdown-item" href="/products?category=beauty">Beauty</a>
            </div>
          </li>
          <li>
            <a class="nav-link active m-1" aria-current="page" routerLink="/categories" routerLinkActive="active"></a>
          </li>
        </ul>
        <!-- <ul class="navbar-nav d-flex justify-content-center">
          <form class="row my-auto d-flex justify-content-center">
            <div class="col d-flex justify-content-center">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
          </form>
        </ul> -->
        <app-auth-status></app-auth-status>
        <!-- <ul class="navbar-nav d-flex my-auto me-5">
          <li class="nav-item">
            <a class="btn btn-success" routerLink="/login" routerLinkActive="active">Sign in</a>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>
<!-- Navbar -->

<!-- Body content -->
<section class="h-100 py-5 bg-dark color-white custom-shadow" style="flex:1;">
  <!-- list of categories -->
  <router-outlet></router-outlet>
  <!-- list of categories --> 
</section>
<!-- Body content -->

<!-- Footer -->
<footer class="pb-3 pt-4 custom-bg">
    <p class="text-light text-center">&copy;2024 Jakub Golynski</p>
</footer>
</div>
<!-- Footer -->