<div class="row mx-2">
  <div class="col-xs-6 col-sm-8 col-md-6 col-lg-4 mx-auto ">
    <div class="card rounded-3 custom-shadow">
      <div class="card-header">
        <h3 class="mb-0 py-5 px-5">Login</h3>
      </div>
      <div class="card-body box p-3 sm:p-3 md:p-5 ">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group mb-4 px-4">
                <label for="username">Username</label>
                <input type="text" #username="ngModel" required [class.is-invalid]="username.invalid && username.touched" class="form-control"
                name="username" id="username" [(ngModel)]="user.username" placeholder="Username">
                <small class="text-danger" [class.d-none]="username.valid || username.untouched">Username is required</small>
            </div>
            <div class="form-group mb-3 px-4">
                <label for="password">Password</label>
                <input type="password" #password="ngModel" required [class.is-invalid]="password.invalid && password.touched" class="form-control"
                name="password" id="password" [(ngModel)]="user.password" placeholder="Password">
                <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
            </div>
             <div class="container">
              <div class="clearfix">
                <button class="btn btn-primary float-end" type="submit">LOGIN</button>
              </div>
              <div class="alert alert-danger text-center clearfix mt-3" *ngIf="errorMessage">
                {{errorMessage}}
              </div>
             </div>
        </form>
      </div>
    </div>
  </div>
</div>
