<div class="container">
    <div >
        <h1 class="display-5 text-center p-4">Categories</h1>
    </div>
</div>
<div>
    <ul class="justify-content-center" class="col-lg-4 col-md-6 col-sm-12"
        *ngFor="let category of categories;">
        
            <h4 class="display-6 justify-content-center">
                <a
                class="list-group-item d-flex justify-content-between align-items-center">
                {{ category.name }}
                </a>
            </h4>
    </ul>
</div>
<!-- <div class="container">
    <ul class="justify-content-center" class="col-lg-4 col-md-6 col-sm-12"
        *ngFor="let category of categories;">
        
            <h4 class="display-6 justify-content-center">
                <a href="http://localhost:4200/api/category/{{category}}"
                class="list-group-item d-flex justify-content-between align-items-center">
                {{ category }}
                </a>
            </h4>
    </ul>
    
</div> -->
